#grandfather{
    background-color: white;
    margin: auto;
}

#navbar {
    width: 80%;
    /* border: 2px solid ; */
    margin: auto;
    display: flex;
  
}

.pages {
    display: flex;
    /* border: 2px solid red; */
    /* justify-content: space-between; */
    margin-left: 20px;
    width: 500px;

}

#logo {
    /* border: 2px solid; */
    margin: auto;

}


a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

#buttons {
    /* border: 2px solid red; */
    display: flex;
    margin-left: 70px;
    width: 200px;
    color: white;
    margin: auto;
}

.login {
    border: 2px solid skyblue;
    border-radius: 40px;
    width: 80px;
    height: 40px;
    font-weight: bold;
    cursor: pointer;
    color: rgb(19, 188, 255);
    background-color: white;
    font-size: 17px;
}


.regis {
    /* border: 2px solid; */
    border-radius: 40px;
    width: 100px;
    color: white;
    margin-left: 20px;
    background-color: rgb(252, 71, 5);
    height: 40px;
    cursor: pointer;
    font-size: 17px;
    font-weight: bold;

}

.dropbtn {
    /* background-color: #04AA6D; */
    color: rgb(167, 141, 141);
        padding: 16px;
    font-size: 20px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: auto;
    border-radius: 5px;
    font-size: 15px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 0;
}
.dropdown-content h2{
    font-size: 15px;
    width: 180px;
}
.dropdown-content a {
    color: rgb(0, 0, 0);
   padding: 10px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: flex;
}

.dropdown:hover .dropbtn {
  color: #000000;
  cursor: pointer;
}
.hr{
    border: 1px solid rgb(108, 98, 98);
}
.foremp>h2{
    color: black;
}
.foremp .dropdown-content{
    min-width: 100px;
}
.hr+div{
    margin-left: 20px;
}

#header{
    
    /* border: 2px solid; */
    text-align: center;
    margin-top: 80px;
    justify-content: center;
}
#header>h1{
      font-size: 35px;
}

#header>h1+h2{
    font-size: 20px;
    color: grey;
}
.searchbar{
    /* border: 2px solid; */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-top: 100px;
    width: 65%;
    margin: auto;
    border-radius: 20px;
    
    
}
#search{
    /* border: 2px solid ; */
    height: 70px;
    /* margin-top: 100px; */
  /* margin-left: -300px; */
  width: 300px;
  border: none;
  font-size: 17px;
}
#exper{
    height: 50px;
    margin-left: 20px;
    border: none;
    
    font-size: 17px;
    color: grey;
    margin-left: 40px;
}
#exper>option{
   font-size: 10px;
   border: none;
}
#location{
    border: 2px solid;
        height: 50px;
        /* margin-left: 300px; */
        width: 250px;
        border: none;
        font-size: 17px;
        margin-left: 40px;
}
.btn{
    width: 140px;
    height: 50px;
    font-size: 20px;
    border-radius: 20px;
    color: white;
    border:rgb(5, 84, 212) ;
    background-color:rgb(5, 84, 212);
}
span{
    margin-left: 20px;
    height: 30px;
}
#box{
    border: 1px solid;
    height: 70px;
    margin: auto;
    margin-top: 40px;
    width: 50%;
    display: flex;
  margin-top: 60px;
  margin-bottom: 50px;
    
}
#box>img{
    /* border: 2px solid ; */
    border-radius: 100%;
box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
margin-top: 10px;
width: 40px;
height: 40px;
}
#box>h2{
    margin-top: 15px;
    margin-left:30px ;
}
#res{
    margin-left: 20px;
    width: 100px;
    height: 35px;
    margin-top: 10px;
    border-radius: 30px;
    font-size: 15px;
background-color: rgb(252, 71, 5);
color: white;
}


 .splide__arrow--next svg {
     position: relative;
     top: 0;
     left: 45px;
 }

 .splide__arrow--prev svg {
     position: relative;
     top: 40;
     right: 65px;
 }

 .box {
     width: 200px;
     height: 140px;
     box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
     margin: auto;
     margin-bottom: 50px;
     /* border: 2px solid red; */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
     margin-left: 10px;
     cursor: pointer;
 }
.box:hover{
  width: 210px;
}
 .product-img {
     width: 38%;
     height: 38%;
    border-radius: 0%;
    /* border: 2px solid red; */
    margin-left: 0px;
    margin-top: 0px;
    display: flex;
    /* margin: auto; */
    /* justify-content: center; */
    /* text-align: center; */
    /* margin-top: 15px; */
 }
.product-img>a>img{
 width: 100%;
}
.timg>a>img {
     width: 100%;
     /* margin-left: 15px; */
    border-radius: 50%;
 }

 .product-info {
     width: 300px;
     /* height: 250px; */
     margin-top: 70px;
     /* margin-left: 20px; */
     /* text-align: center; */
     /* border: 2px solid green; */
 }

 .container {
     width: 80%;
     margin: auto;
 }

  .box > h2{
    font-size: 18px;
    margin-left: 5px;
    width: 190px;
    /* border: 2px solid; */
 }

 .box>p{
    width: 150px;
    /* border: 2px solid; */
    margin-left: 5px;
    margin-bottom: 20px;
    
 } 
 #img{
    display: flex;
 }
 #arrow{
    margin-left: 5px;
    color: grey;
    font-size: 25px;
    
 }
 #explore{
    margin: auto;
    justify-content: center;
    text-align: center;
    /* border: 2px solid red; */
    margin-top: 30px;
    margin-bottom: 50px;

 }
#trending{
    /* border: 2px solid; */
    height: 300px;
    margin-top: 20px;
    text-align: center;
}
.card{
    width: 170px;
    height: 60px;
    /* border: 2px solid; */
    display: flex;
    align-items: center;
    margin-left: 30px;
    margin-top: 20px;
box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 13px 0px 10px;
}
#row1{
    display: flex;
 justify-content: center;
    margin: auto;
 
}
#row2 {
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 20px;
}
.card>img{
    width: 20%;
    margin-left:10px ;
}
#arrow1{
    margin-top: 8px;
    margin-left:10px ;
    font-size: 20px;
    font-weight: bold;
}
.card>h4{
    margin-left: 0px;
    /* border: 2px solid; */
    width: 90px;
    font-size: 15px;
}
#row1>a:hover{
 background-color: rgb(252, 252, 252);
 /* height: 90px; */
}


 .splide__arrow--next svg {
     position: relative;
     top: 10;
     left: 35px;
 }

 .splide__arrow--prev svg {
     position: relative;
     top: 0;
     right: 35px;
 }

 .box1 {
     width: 250px;
     height: 270px;
     box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
     margin: auto;
     margin-bottom: 50px;
     /* border: 2px solid red; */
 }

 .product-img1 {
     width: 100px;
     height: 50px;

     margin: auto;

 }

 .product-img1>img {
     /* width: 100%; */
     margin-left: -20px;


     margin-top: 20px;
 }

 .product-info {
     width: 300px;
     /* height: 250px; */
     margin-top: 70px;
     /* margin-left: 20px; */
     /* text-align: center; */
     border: 2px solid green;
 }

 .container1 {
     width: 80%;
     margin: auto;
 }

 #star>h1 {
     font-size: 20px;
 }

 #star+p {
     font-size: 15px;
     /* border: 2px solid; */
     width: 190px;
     margin-left: -30px;
     margin-top: 20px;
     color: grey;
 }

 #star>p {
     margin-top: -10px;
     color: grey;
 }

 #star {
     border: 0.2px solid;
     width: 150px;
     text-align: center;
     background-color: rgb(246, 242, 242);
     margin-left: -30px;
     margin-top: 20px;
     border-radius: 10px;
 }

 #star1 {
     font-size: 14px;
     /* background-color: yellow; */
     color: yellow;
     margin-left: -2px;
 }

 #fbtn {
     border: rgb(235, 240, 241);
     ;
     width: 100px;
     height: 30px;
     border-radius: 20px;
     color: rgb(8, 179, 235);
     font-size: 17px;
     background-color: rgb(235, 240, 241);
 }
 #featured{
    text-align: center;
    margin-bottom: 40px;
 }
 .allcom{
    font-size:20px ;
    height: 40px;
    border-radius:20px ;
    color: rgb(0, 127, 195);
    background-color: white;
    border:1px solid rgb(0, 136, 210);
    cursor: pointer;
    font-weight: bold;
 }
 .allcom:hover{
     background-color: #ddd;
 }
  .splide__arrow--next svg {
      position: relative;
      top: 10;
      left: 35px;
      /* border-radius: 50%; */
  }

  .splide__arrow--prev svg {
      position: relative;
      top: 0;
      right: 35px;
      /* border-radius: 50%; */
  }

  .box3 {
      width: 460px;
      height: 400px;
      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
      margin: auto;
      /* margin-bottom: -30px; */

      /* border: 2px solid red; */
  }

  .product-img3 {
      width: 450px;
      height: 500px;
      display: grid;
      grid-template-columns: repeat(2, 200px);
      grid-template-rows: repeat(3, 90px);
      gap: 30px;
      margin: auto;
      border-radius: 5px;
      justify-content: center;
      margin-top: 0px;
      /* text-align: center; */
      /* align-items: center; */
      box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px
  }

  .product-img3>div {
      /* border: 2px solid red; */
      border-radius: 10px 0px;
      margin-top: 20px;
  }

  .product-info {
      width: 300px;
      /* height: 250px; */
      margin-top: 70px;
      /* margin-left: 20px; */
      /* text-align: center; */
      border: 2px solid green;
  }

  .container3 {
      width: 45%;
      margin: auto;
  }

  .sbox>a {
      text-decoration: none;
      color: black;
  }

  .sbox p {
      margin-top: -20px;
      font-size: 15px;
      /* font-weight: bold; */
      color: grey;
  }

  .sbox {
      text-align: center;
      box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  }
  #discover{
    /* border: 2px solid; */
    
    margin: auto;
    width: 75%;
    display: flex;
    background-color: rgb(255, 251, 246);
    margin-top: 60px;
  }
  /* .container3{
background-color: white;
  } */
  #Dis{
   /* border: 3px solid red;  */
   margin: auto;
   text-align: center;
   width: 300px;
   /* height: 300px; */
   margin-top: -0px;

   
  }
  .info{
    margin: auto;
    /* border: 2px solid green; */
    text-align: left;
  }

  .info>img{
    width: 100px;
  }
  .box3{
    background-color: white;
    /* margin-top: -30px; */
  }

  #prepare{
 /* border: 2px solid red; */
box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
 display: flex;
 width: 80%;
 margin: auto;
 margin-top: 90px;
  }
  #one>img{
    width: 300px;
    justify-content: center;
    text-align: center;
    margin-top: 40px;
    margin-left: 40px;
  }
  #two{
    width: 550px;
    /* border: 2px solid; */
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    display: grid;
    grid-template-columns: repeat(2,230px);
    grid-template-rows: repeat(3,90px);
    gap: 30px;
    /* margin: auto; */
    justify-content: center;
    margin-top: 20px;

  }
  #two>div{
    /* border: 2px solid green; */
   margin-top: 10px;
box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    
  }
  .stwo{
    display: flex;
    cursor: pointer;
  }
.stwo:hover{
    background-color: #fbf7f7;
}
  .timg{
    width: 40px;
    /* border: 2px solid; */
    height: 40px;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  }
  #tdetails{
    /* border: 2px solid red; */
 
    width: 120px;
    text-align: center;
    /* margin: auto; */
   
  }
  #tdetails>h4{
    font-size: 19px;
    margin-top: 17px;

  }
   #tdetails>p{
    margin-top: -20px;
    font-size: 15px;
   }
   #three{
    /* border: 2px solid ; */
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    margin-left: 40px;
    /* margin: auto; */
    margin-top: 20px;
   }
   #role{
    border-top: 1px solid rgb(0, 0, 0);
    height: 40px;
    margin-top: 10px;
    display: flex;
    text-align: center;
   }
   .thbtn{
   background-color: white;
  color: rgb(8, 193, 255);
  font-size: 20px;
  margin-top: 30px;
  border:2px solid rgb(75, 109, 196);
  border-radius: 40px;
  /* width: 100px; */
}
.twbtn{
    background-color: white;
        color: rgb(8, 193, 255);
        font-size: 20px;
        margin-top: 30px;
        height: 40px;
        border: 2px solid;
        margin-left:10px;
}
#role>p{
    margin-left: 20px;
    margin-top: 10px;
}
#role>h4{
    margin-top: 10px;
}
#premimum{
    /* border: 2px solid red; */
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    display: flex;
    width:70%;
    margin: auto;
    margin-top: 50px;
}
#pimg{
    width: 200px;
    /* border: 2px solid; */
}
#infor{
    width: 500px;
    margin-left: 30px;
}
#infor>p{
    color: grey;
}
.si{
    display: flex;
}
.si p{
    border: 0.1px solid rgb(219, 201, 201);
    border-radius: 20px;
    font-size: 16px;
    margin-left: 20px;
    /* color: grey; */
}
#pbtn{
  margin: auto;
  width: 150px;
  /* border: 2px solid; */
}
#pbtn>p{
    color: grey;
}
#o{
    height: 40px;
    margin: auto;
    width: 110px;
    border-radius: 20px;
    font-size: 16px;
    color: rgb(38, 38, 203);
    border: 2px solid rgb(38, 38, 203);
    cursor: pointer;
}
#growcarrer{
    display: flex;
    width: 80%;
   /* border: 2px solid rebeccapurple; */
box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
   margin: auto;
   margin-top: 50px;
}
#gimg{
    width: 300px;
}
#gimg>img{
    width: 60%;
    height: 200px;
    margin-top: -30px;
}
#gimg>h1{
    /* font-size: 20px; */
    margin-top: 30px;
}

 .splide__arrow--next svg {
     position: relative;
     top: 10;
     left: 35px;
 }

 .splide__arrow--prev svg {
     position: relative;
     top: 0;
     right: 35px;
 }

 .box5 {
     width: 230px;
     height: 220px;
     box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
     margin: auto;
     margin-bottom: 50px;
     /* border: 2px solid red; */
    margin-left: 20px;
     box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
 }

 .product-img5 {
     width: 220px;
     height: 200px;
     margin: auto;
     text-align: center;
     
 }

 /* .product-info{
            width: 300px; */
 /* height: 250px; */
 /* margin-top: 70px; */
 /* margin-left: 20px; */
 /* text-align: center; */
 /* border: 2px solid green;
        } */
 .container5 {
     width: 65%;
     /* margin: auto; */
     /* border: 2px solid; */
     margin-left: 110px;
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px; */
 }

 a {
     text-decoration: none;
     color: black;
 }
 #videoprofile{
    width:70%;
    margin: auto;
    /* border: 2px solid; */
    background-color: rgb(246, 249, 250);
    height: 300px;
    margin-top: 40px;
    margin-bottom: 170px;
 }
 #videoprofile>a>img{
   height: 300px;
   width: 100%;
   /* border: 2px solid red; */
box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
 }
 #bottom{
    display: flex;
    /* border: 2px solid ; */
    width: 80%;
    margin-top: 60px;
    margin: auto;
    height: 200px;
    justify-content: center;
 }

 #div1{
    width: 300px;
    /* border: 2px solid red; */
    margin-top: 10px;
    height: 120px;
 }
 /* .lo{
    width: 100px;
    border: 2px solid;
    margin-top: 20px;
 } */
 #div1>img{
    width: 200px;
    margin: auto;
    margin-left: 10px;
 }
 #logos{
    display: flex;
 }
 #div1>p{
    margin-top: 20px;
    margin-left: 20px;
 }
 #logos>img{
    margin-left: 20px;
 }
 #div2{
    display: flex;
 }
 #div2>div{
    margin-left: 50px;
 }
 #div3{
    /* border: 2px solid red; */
    margin-left: 60px;
    height: 120px;
    margin-top: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
 }
 .store>a>img{
   width: 110px;
 }
 #div3>p{
    margin-top: -10px;

 }