*{
    margin: 0;
    padding: 0;
}

body{
    overflow-x: scroll ;
}

#sk_nav {
    border: 1px solid;
    display: flex;
    justify-content: space-evenly;
    margin: 5px;
}
#sk_nav ul{
    /* border: 1px solid; */
    display: inline-flex;
    list-style: none;
}
#sk_nav ul li{
    /* border: 1px solid; */
    margin: 10px;
}

#sk_nav0 {
    border: 1px solid black;
    width: 68%;
    margin: auto;
    margin-bottom: 15px;
}

#sk_loc0, #sk_mjobs0, #sk_comp0,#sk_mjobs1 {
    /* border: 1px solid black; */
    width: 67%;
    margin: auto;
    margin-bottom: 20px;
    border-radius: 5px;
    padding: 5px 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}


#sk_nav1 {
    border: 1px solid blue;
    margin: 5px;
}
#sk_nav2{
    border: 1px solid green;
    display: flex;
    justify-content: space-evenly;
    margin: 5px;
}
#sk_nav2 ul {
    /* border: 1px solid; */
    display: inline-flex;
    list-style: none;
}
#sk_nav2 ul li {
    /* border: 1px solid; */
    margin: 10px;
}

#sk_nav3 {
    border: 1px solid green;
    display: flex;
    margin: 5px;
}

#sk_nav4 {
    border: 1px solid red;
    margin: 5px;
    width: 70%;
}
#sk_inp {
    border: 1px solid violet;
    display: flex;
    margin: 5px;
}
#sk_brow {
    border: 1px solid violet;
    margin: 5px;
}
#sk_brow ul {
    /* border: 1px solid; */
    display: inline-flex;
    list-style: none;
}
#sk_brow ul li {
    /* border: 1px solid; */
    margin: 10px;
}
#sk_register {
    border: 1px solid red;
    margin: 5px;
    width: 20%;
}


#sk_loc{
    border: 1px solid ;
    margin: 5px;
}
#sk_image{
    display: flex;
}
#sk_loc img{
    border: 1px solid skyblue;
    height: 150px;
    width: 150px;
    margin: 5px;
}

.sk_mjobs {
    border: 1px solid brown;
    display: flex;
    margin: 5px;
}
.sk_mjobs, .sk_mjobs1 {
    border: 1px solid indigo;
    margin: 5px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

#sk_comp{
    border: 1px solid blueviolet;
    margin: 5px;
}
#sk_icon {
    display: flex;
}

#sk_s {
    /* border: 1px solid red; */
    background-color: #2E3339;
}










