*{
    margin: 0;
    padding: 0;
}

body{
    overflow-x: scroll ;
}

#sk_nav {
    border: 1px solid;
    display: flex;
    justify-content: space-evenly;
    margin: 5px;
}
#sk_nav ul{
    /* border: 1px solid; */
    display: inline-flex;
    list-style: none;
}
#sk_nav ul li{
    /* border: 1px solid; */
    margin: 10px;
}

#sk_nav1 {
    border: 1px solid blue;
    margin: 5px;
}
#sk_nav2{
    border: 1px solid green;
    display: flex;
    justify-content: space-evenly;
    margin: 5px;
}
#sk_nav2 ul {
    /* border: 1px solid; */
    display: inline-flex;
    list-style: none;
}
#sk_nav2 ul li {
    /* border: 1px solid; */
    margin: 10px;
}

#sk_nav3 {
    border: 1px solid green;
    display: flex;
    /* justify-content: space-evenly; */
    margin: 5px;
}

#sk_nav4 {
    border: 1px solid red;
    /* display: flex; */
    /* justify-content: space-evenly; */
    margin: 5px;
    width: 70%;
}
#sk_inp {
    border: 1px solid violet;
    display: flex;
    margin: 5px;
}
#sk_brow {
    border: 1px solid violet;
    /* display: flex; */
    margin: 5px;
}
#sk_brow ul {
    /* border: 1px solid; */
    display: inline-flex;
    list-style: none;
}
#sk_brow ul li {
    /* border: 1px solid; */
    margin: 10px;
}
#sk_register {
    border: 1px solid red;
    /* display: flex; */
    /* justify-content: space-evenly; */
    margin: 5px;
    width: 20%;
}


#sk_loc{
    border: 1px solid;
    margin: 5px;
}
#sk_image{
    display: flex;
}
#sk_loc img{
    border: 1px solid skyblue;
    height: 150px;
    width: 150px;
    margin: 5px;
}

.sk_mjobs {
    border: 1px solid brown;
    display: flex;
    margin: 5px;
}
.sk_mjobs, .sk_mjobs1 {
    border: 1px solid indigo;
    margin: 5px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* grid-template-rows: repeat(5, 1fr); */
}

#sk_comp{
    border: 1px solid blueviolet;
    margin: 5px;
}
#sk_icon {
    display: flex;
}

#sk_deta{
    border: 1px solid;
    margin: 5px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
#sk_link{
    /* border: 1px solid; */
}
#sk_link img{
    /* border: 1px solid; */
    width: 150px;
}
#sk_follow div{
    /* border: 1px solid; */
    display: flex;
}
#sk_follow div img{
    width: 30px;
    height: 30px;
}